button {
  display: block;
  outline: none;
  appearance: none;
  background: none;
  border: 0;
  padding: 0;
}

.btn {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  column-gap: 20px;
  width: 100%;
  max-width: 240px;
  box-shadow: 4px 4px 0px 0px #ffffff4d;
  white-space: nowrap;
  &[type='submit'] {
    max-width: 100%;
  }
  &:hover,
  &:focus {
    background-color: $blue-500;
  }
}
