@import '~styles/mixins';

.cta {
  padding: 200px 0;
  display: flex;
  justify-content: center;
  position: relative;
  @include b-up(xxl) {
    padding: 270px 0;
  }
  @include b-d(lg) {
    padding-top: 172px;
    padding-bottom: 148px;
  }
  @include b-d(md) {
    background-size: 1290px;
    padding-top: 162px;
    padding-bottom: 138px;
  }
  &__button {
    display: grid;
    row-gap: 22px;
    justify-items: center;
    align-content: center;
    width: 360px;
    height: 360px;
    background-color: $blue;
    color: $white;
    font-family: $headings-font-family;
    font-size: 36px;
    text-align: center;
    border-radius: 100%;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    @include b-d(lg) {
      width: 280px;
      height: 280px;
      row-gap: 11px;
      font-size: 28px;
    }
    @include b-d(md) {
      width: 180px;
      height: 180px;
      row-gap: 4px;
      font-size: 18px;
    }
    &:hover,
    &:focus {
      background-color: $blue-500;
      transform: scale(1.1);
    }
    svg {
      width: 100px;
      @include b-d(md) {
        width: 80px;
      }
    }
  }
}
