@import '~styles/mixins';

.strip {
  font-size: 60px;
  font-family: $headings-font-family;
  letter-spacing: -0.01em;
  font-feature-settings: 'zero' on, 'salt' on, 'ss03' on, 'ss05' on;
  height: 106px;
  // border-radius: 20px;
  @include b-d(md) {
    height: 74px;
    font-size: 40px;
  }
  &:global(.marquee-container) {
    width: 1884px;
    position: absolute;
    top: calc(50% - 53px);
    @include b-d(md) {
      width: 1316px;
      top: calc(50% - 37px);
    }
  }
  &:nth-last-of-type(2) {
    background: $white;
    transform: rotate(15deg);
    z-index: -1;
    @include b-d(lg) {
      transform: rotate(20deg);
    }
    span {
      &:first-child {
        font-weight: 300;
        color: $blue;
        text-shadow: 2px 2px 0px rgba($black, 0.4);
      }
      &:nth-child(2),
      &:last-child {
        font-weight: 500;
        color: $black;
        text-shadow: 4px 4px 0px rgba($black, 0.4);
      }
      &:nth-child(3) {
        text-shadow: 4px 4px 0px $blue;
      }
    }
  }
  &:last-of-type {
    background: $gray-900;
    transform: rotate(-15deg);
    z-index: -2;
    @include b-d(lg) {
      transform: rotate(-20deg);
    }
    span {
      &:first-child,
      &:last-child {
        font-weight: 500;
        text-shadow: 4px 4px 0px rgba($white, 0.4);
      }
      &:nth-child(2) {
        text-shadow: 4px 4px 0px $blue;
      }
      &:nth-child(3) {
        font-weight: 300;
        color: $blue;
        text-shadow: 2px 2px 0px rgba($white, 0.4);
      }
    }
  }
  span {
    margin: 0 30px;
  }
}
