@import '~styles/mixins';

.header {
  position: relative;
  z-index: 1050;
  background: $black;
  &__inner {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    min-height: 132px;
    @include b-d(md) {
      min-height: 88px;
    }
  }
  &__logo {
    justify-self: start;
    @include b-d(md) {
      max-width: 132px;
    }
  }
}

.hamb {
  position: relative;
  width: 40px;
  height: 40px;
  color: $white;
  text-indent: -9999px;
  z-index: 1050;

  @include b-up(md) {
    display: none;
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 6px;
    width: 28px;
    border-bottom: 2px solid;
    transition: transform 0.3s ease-in-out;
  }
  &::before {
    top: 13px;
  }
  &::after {
    bottom: 13px;
  }
  &.open {
    &::before {
      transform: translateY(6px) rotate(135deg);
    }
    &::after {
      transform: translateY(-6px) rotate(45deg);
    }
  }
}
