@import '~styles/mixins';

.header {
  padding: 34px 0;
  &__inner {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    justify-self: start;
  }
  @include b-d(sm) {
    // Code...
  }
}
