@import '~styles/mixins';

.wrap {
  outline: none;
  height: 100%;
}

.logo {
  @include b-d(lg) {
    max-width: 400px;
  }
  @include b-d(md) {
    max-width: 240px;
  }
}

.content {
  position: relative;
  display: grid;
  min-height: 100%;
  grid-template-rows: auto 1fr;
  padding-top: 100px;
  padding-bottom: 75px;
  max-width: 1440px;
  @include b-d(lg) {
    padding-top: 80px;
  }
  @include b-d(md) {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

.terminal {
  margin-top: 100px;
  font-size: 18px;
  @include b-d(lg) {
    margin-top: 80px;
    width: calc(100vw - 80px);
  }
  @include b-d(md) {
    margin-top: 42px;
    font-size: 16px;
    width: calc(100vw - 40px);
  }
  div {
    line-height: 1.3334;
    white-space: pre-line;
    font-family: $font-family-monospace;
    &:global(.terminalContainer) {
      overflow: hidden;
    }
  }
  input {
    font-family: $font-family-monospace;
    outline: none;
    border: 0;
    background: $black;
    &:hover,
    &:focus {
      outline: none;
    }
  }
}

.render {
  display: grid;
  margin-top: 24px;
  margin-bottom: 24px;
  grid-gap: 24px;
}

.portfolio {
  margin-top: 24px;
  margin-bottom: 24px;
  &__item {
    & + & {
      margin-top: 48px;
      @include b-d(md) {
        tr {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 1.33em;
          + tr {
            margin-top: 1.33em;
          }
        }
        td {
          padding: 0;
        }
      }
    }
  }
  &__header {
    color: #9999ff;
    margin-bottom: 1.33em;
  }
  &__descr {
    color: #c2c9cf;
    margin-bottom: 1.33em;
  }
  &__tables {
    display: grid;
    column-gap: 115px;
    justify-content: start;
    justify-items: start;
    row-gap: 1.33em;
    @include b-up(lg) {
      grid-auto-flow: column;
    }
    table {
      width: 100%;
    }
    th {
      text-align: center;
      color: #c2c9cf;
      padding-bottom: 1.33em;
    }
    tr + tr {
      td {
        padding-top: 1.33em;
      }
    }
    td {
      padding: 0;
      + td {
        padding-left: 1.33em;
      }
    }
  }
}

.form {
  margin: 24px 0;
  max-width: 700px;
  &__header {
    overflow: hidden;
    &::before {
      display: block;
      content: '______________________________________________________________';
      display: flex;
      justify-content: center;
      white-space: nowrap;
      margin: 0 11px;
      overflow: hidden;
    }
    span {
      width: 100%;
      display: flex;
      white-space: nowrap;
      &::before,
      &:after {
        overflow: hidden;
        flex: 1 1;
      }
      &::before {
        content: '|\00a0\00a0_______________________';
      }
      &::after {
        content: '_______________________\00a0\00a0|';
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  &__item {
    display: grid;
    align-items: end;
    padding: 0 3.157em;
    position: relative;
    &::before,
    &::after {
      position: absolute;
      bottom: 0;
      overflow: hidden;
      height: 100%;
      width: 1.828em;
      content: '|  |\a|  |\a|  |\a|  |';
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
    span {
      color: #9999ff;
    }
    &__content {
      margin-top: 1.3334em;
    }
  }
  &__input {
    color: $white;
    padding: 0;
    transition: color 0.15s ease-in-out;
    &.invalid {
      color: $red;
    }
    &:-webkit-autofill {
      &,
      &:focus,
      &:hover {
        box-shadow: inset 0 0 0px 500px $black !important;
      }
    }
  }
  &__footer {
    > span {
      display: grid;
      grid-template-columns: auto 1fr auto;

      &:first-child {
        &::before,
        &::after {
          content: '| |';
          background: $black;
        }
        span {
          &::before {
            content: '__________________________________________________________';
          }
        }
      }
      &:last-child {
        &::before,
        &::after {
          content: '|';
          background: $black;
        }
        span::before {
          content: '______________________________________________________________';
        }
      }
      span {
        overflow: hidden;
        &::before {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  // Textaria trick for js-terminal
  textarea {
    background: none;
    border: 0;
    resize: none;
    outline: none;
    height: 1.33em;
    vertical-align: bottom;
  }
}

.space {
  display: inline-block;
  width: 35.25em;
}

.loader {
  display: block;
  margin-top: 1.33em;
  &::after {
    content: '\\';
    animation: 500ms ascii-loader 0s infinite linear;
  }
}

@keyframes ascii-loader {
  0% {
    content: '\\';
  }
  25% {
    content: '|';
  }
  50% {
    content: '/';
  }
  75% {
    content: '-';
  }
  100% {
    content: '\\';
  }
}

.controls {
  position: absolute;
  right: 60px;
  bottom: 60px;
  z-index: 2;
  display: grid;
  grid-gap: 24px;
  margin-top: 40px;
  align-self: end;
  @include b-up(lg) {
    grid-auto-flow: column;
  }
  @include b-d(lg) {
    right: 40px;
    bottom: 40px;
  }
  @include b-d(md) {
    position: static;
    grid-gap: 12px;
  }
  &:not(.open) {
    justify-content: end;
  }
  &.open {
    position: static;
    grid-auto-columns: 1fr;
    @include b-up(lg) {
      margin-bottom: -15px;
    }
    @include b-btw(md, lg) {
      margin-bottom: -35px;
      grid-template-columns: repeat(3, 1fr);
    }
    @include b-d(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
